@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/*Schriftart und Eliminierung von ungewollten Margins und Paddings*/
*{

    margin:0;
    padding:0;
    font-family: "Open Sans", sans-serif;


}

.hiddenOnDesktop{
  display:none;
  position: absolute;
}



::-webkit-scrollbar {
display: none;
}

/***Bookmark Seitenanfang***/
#sanfang {
    visibility: hidden;
    position: absolute;
}
/******/

/* Sticky full-width Menubar */
nav{

    width: 100%;
    position: sticky;
    position: -webkit -sticky;
    top:0;
    font-size:22px;
    background-color: white;
    z-index: 7;
}


nav ul{
    display: flex;
    flex-direction:row;
    position: relative;
    justify-content: center;
    list-style-type: none;
    margin:0;
    padding:0;

}
nav ul li{
    display: block;
    margin:12px 16px 14px 10px;
    background-color: white;
    font-size: 20px;
}

nav ul li span{
    display: inline-block;
    margin-top: 12px;
}


nav ul li span a{
    text-decoration: none;
    color:#444;
}

nav ul li a:hover{
    color:tomato;
    text-decoration: none;
}
/*Gemontlogo oben links*/
.logonav{
    width:222px;
    height:50px;
}

#logomobile{
    display: none;
    position: absolute;
}

nav div h5{
    display:none;
    position: absolute;
}
#hamburgerButton{
    display:none;
    position: absolute;
}
#timermobile{
    display:none;
    position:absolute;
}

/*Container fürs Timerbanner*/
#timerdesktop{
    font-size:0.7em;
    padding: 0.25em;
    display:flex;
    justify-content:center;
    color:white;

}

/*Aktiver Teil der Seite- Anpassen für die aktuelle Seite in HTML benötigt*/

.active{
    color:tomato;
}

/*Timerbanner in tomato ohne timer*/
.timerbanner{
    background-color: tomato;
    height:30px;
    width:100%;
    padding:0;
    margin:0;
    clear: both;
    color:white;
    z-index: 0;
}



.wrapper{
    width: 100%;
    text-align: center;
    color: #444;
    height: 200vh;
    padding: 0;
    margin: 0;
    overflow:hidden;
}




.slideContainer {
  width: 100vw;
  display: flex;
  padding: 0;
  margin: 0;

}
.carousel {
  width: 100vw;
  height: 85vh;
  border-radius: 2px;
  background: #fff;
  /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1); */
  margin: 0;
  padding: 0;
}
.slider {
  display: flex;
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.slider div {

  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  height: inherit;
}
.slider div img{
  position: relative  ;
  margin: 0;
  padding: 0;
  height: 85vh;
  width: 100vw;


}
.left, .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.arrow i {
  font-size: 70px;
  -webkit-user-select: none;
  color: #ddd;
}
.left {
  left: 10px;
}
.right {
  right: 10px;
}
.control{
  display: inline-block;
}
.control ul {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 2%;
  left: 51%;
  margin: 0;
  padding: 0;
  transform: translate(-50%);
  z-index: 6;
}
.control ul li {
  width: 10px;
  height: 10px;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  margin: 10px;
  cursor: pointer;
  z-index: 6;
}
.control ul li.selected {
  background: #333;
}

.mottoBanner{
  height: 20vh;
  width: 100%;
  border-top: 3px solid tomato;
  padding-top: 6px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mottoBanner span{
  font-size: 3.5vh;
  font-style: : italic;
  font-family: cursive;

}

.newsContainer{
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  width: 200%;


}

.newsContainer div{
  width: 100%;
}


.newsList{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  position: relative;
  list-style-type: none;
  text-decoration: none;
  text-align: center;

}

.newsList li{
  width: 250px;

}

.newsList li img{
  width: 250px;
  height: 200px;
}

.newsList li span{
  width: 103%;
  text-align: left;
  padding: 5% 10%;
  background: #eee;
  display: block
}

.navArrows{
  height: 40px;
  width: 100%;

  position: relative;
}
.navArrows div{
  width: 8%;

  display: flex;
  position: absolute;
  right: 4%;
}
.navArrows div button{
  height: 100%;
  width: 100%;
  background: tomato;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  margin-right: 2px;


}



.navArrows div button a{
  color: #fff;
  text-decoration: none;

}

.navArrows div button a:active{
  text-decoration: none;
}


/***Footer***/
footer {
    position: relative;
    bottom: 0;
    background-color: #666;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 13%;
    padding-right: 13%;
    margin-top: 100px;


}

.impressum {
    color: white;
}
/***Zum Seitenanfang***/
#arrowup{
    border: 2px solid #333;
    border-radius: 1500%;
    background-color: rgb(1,1,1, 0.1);
    transition:     background-color 350ms ease-out,
                    transform        350ms ease-out;
    margin-bottom: 2px;
    margin-top: 3px;
    font-size: 23px;
    color:#000;
    padding: 3px 7px;

}
#arrowup a{

    text-decoration: none;
    color: black;
}

#arrowup:hover{
    background-color: tomato;
    transform: scale(1.1);
}


footer p {
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 1em;
    bottom: 0;
    margin: 0;
}
/******/
